# PostgreSQL Configuration
POSTGRES_USER="hono"
POSTGRES_PASSWORD="honopassword"
POSTGRES_DB="honodb"
DB_HOST="localhost"
DB_PORT=5432

# JWT Configuration
JWT_SECRET="template_hono_jwt_secret"
JWT_EXPIRES_IN="15m" # e.g., 15m (15 minutes), 1h (1 hour), 1d (1 day)

# JWT Refresh Token Configuration
JWT_REFRESH_SECRET="template_hono_jwt_refresh_secret"
JWT_REFRESH_EXPIRES_IN="7d" # e.g., 7d (7 days), 30d (30 days)
JWT_REFRESH_COOKIE_NAME="refreshToken"

# App Environment
NODE_ENV="development" # or "production"

# Server Configuration
PORT=3000